

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 200px;
}


.napit {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center ;
  
}

.pisteet {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    position:absolute;
    top:10px;
    right: 10px;
 }
 

button:focus {outline:0;}